.zaly-cont{
   

 .zaly{
    
    &-text1{
        font-size: 44px;
        margin-top: 00px;
        width: 451px;
        color: #105B60;
    }
    &-img{
        width: 1320px;
        height: 600px;
        margin-top: 50px;

    }
    &-img2{
        margin-left: 580px;
        position: absolute;
        width: 160px;
        height: 160px;
        margin-top: 260px;
    }
    &-radius{
        width: 200px;
        height: 200px;
        background-color: rgb(255, 115, 0);
        border-radius: 100px;
        margin-top: -200px;
    }
}
}
    


