
.baner_group{
   
    h1{
        font-size: 55px;
        font-weight: 900;
        width: 100%;
        color: #105B60;
    }

    img{
        margin-top: -50px;
       
    }

    &_text{
        p{
            margin-top: -90px;
            color: #FFFFFF;
            width: 900px;
            margin-left: 41px;
        }
    }
}



@media screen and (max-width: 1400px) {
    .container{
        max-width: 1140px;
    }
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .baner_group{
        h1{
            width: 100%;
            font-size: 30px;
            margin-top: 20px;
        }
        img{
            width: 100%;
        }
        &_text{
            p{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .baner_group{
        h1{
            width: 100%;
            font-size: 30px;
            margin-top: 20px;
        }
        img{
            width: 100%;
        }
        &_text{
            p{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .baner_group{
        h1{
            width: 100%;
            font-size: 25px;
            margin-top: -50px;
        }
        img{
            width: 100%;
            margin-top: 10px;
        }
        &_text{
            p{
                width: 50%;
            }
        }
    }
}
