.home-banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
  .home-banner-images {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 100%
      );
    }

    img {
      width: 184px;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
      flex-shrink: 1;
      max-width: 100%;
      &:nth-child(1) {
      }
      &:nth-child(3) {
        width: 403px;
        height: 385px;
      }
    }
  }

  .home-banner-text {
    color: #105b60;
    position: relative;
    z-index: 3;
    margin-top: -100px;
    &-block {
      display: flex;
      flex-direction: column;
      gap: 15px;
      h1 {
        font-family: "Kino", sans-serif;
        font-weight: 400;
        font-size: 70.74px;
        line-height: 100%;
        text-transform: uppercase;
      }

      p {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
      }
    }
  }
}
@media (max-width: 1024px) {
  .home-banner {
    .home-banner-text {
      &-block {
        h1 {
          font-size: 45px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    .home-banner-images {
      img {
        &:nth-child(1),
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .home-banner-images {
    img {
      &:nth-child(1),
      &:nth-child(5) {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-banner-images {
    img {
      &:nth-child(1),
      &:nth-child(5) {
        display: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .home-banner {
    .home-banner-images {
      img {
        width: 100px;
        &:nth-child(1),
        &:nth-child(5) {
          display: none;
        }
      }
    }
    .home-banner-text {
      &-block {
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  
    .home-banner {
      position: relative;
      padding: 20px;
      margin-bottom: 50px; 
  
      .home-banner-images {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 0;
  
        img {
          display: none;
          &:nth-child(3) {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0; 
            position: absolute;
            top: 0;
            left: 0;
          }
        }
  
        &::before {
          height: 60%;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 32.03%,
            #000000 100%
          );
        }
      }
  
      .home-banner-text {
        margin-top: 0;
        padding: 0px 0px;
        padding-top: 400px;
        &-block {
          gap: 10px;
          h1 {
            text-align: left;
  
            font-size: 22px;
            color: #ffffff;
          }
  
          p {
            text-align: left;
  
            font-size: 18px;
            color: #ffffff;
          }
        }
      }
    }
  }
  
  
 