.language-switcher {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
}

.selected-lang {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 10px 15px 10px;
    background: #105B60;
    border-radius: 15px;
    // transition: 0.3s;
    width: 77px;

}

.selected-lang:hover {
    background: #105B60;
}

.dropdown {
    display: flex;
    flex-direction: column;
    background: #105B60;
    margin-top: -11px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 77px;
    color: #fff;

}

.dropdown div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;


}

.dropdown div:hover {
    background: #105B60;
}