.books-enemy{
     
    margin-top: 20px;
    color: aliceblue;
}

.books-enemy{
    border-radius: 12px 12px 12px 12px;
}

.services_btn{
    background-color:#105B60;
    border: none;
    float: right;color: rgb(255, 255, 255);
    font-size: 25px;
}


.services_title_block{
    display: flex;
    justify-content: space-between;
    

}

.services_id{
    font-size: 20px;
    
}

.services_title{
    width: 260px;
    margin: 0 auto;
    
}


.services-text{
    width: 70%;
    display: flex;  
    color: #ffffff;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

@media screen and (max-width: 326px) {
   
    .services_title{
        width: 220px;
        margin: 0 auto;
        
    }
    
    
    
}