.payment { 
    .title_payment {
        color: #105B60;
        margin-top: 100px;
        font-size: 30px;
    }

    .block_py {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        background-color: #105B60;
        width: 100%;
        height: 160px;
        border-radius: 20px;
        margin-top: 20px;
    }

    .payment_text {
        color: #fff;
        margin-left: 60px;
        font-size: 45px;
    }

    .img_payment {
        width: 78px;
        border-radius: 15px;
        margin-right: 60px; 
    }

    @media (max-width: 1024px) {
        .title_payment {
            font-size: 25px;
        }
        .payment_text {
            font-size: 40px;
        }

        .img_payment {
            width: 72px;
        }
    }

    @media (max-width: 768px) {
        .title_payment {
            font-size: 20px;
        }

        .payment_text {
            font-size: 35px;
            margin-left: 30px;
        }

        .img_payment {
            width: 70px;
            margin-right: 30px;
        }
    }

    @media (max-width: 576px) {
        .title_payment {
            font-size: 20px;
        }

        .payment_text {
            font-size: 25px;
            margin-left: 30px;
        }

        .img_payment {
            width: 50px;
            margin-right: 30px;
        }
    }
    @media (max-width: 400px) {
      

        .payment_text {
            font-size: 20px;
            margin-left: 30px;
        }

        .img_payment {
            width: 50px;
            margin-right: 30px;
        }
    }
}
